
.empty_star{
  color: white;
}

.rating {
  display: inline-block;
  margin-top: 5px;
  padding: 1px 10px;
  border: 1px solid black;
  background-color: rgb(255, 187, 1);
  border-radius: 5px;
}
.rating svg {
  padding: 1px 3px;
}